<section>
  <h1>New post</h1>
  <form action="/posts" method="POST">
    <div class="form-group mb-3">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control" id="title" placeholder="The title of your post" value="">
    </div>

    <div class="mb-3 form-group">
        <label for="title">Image</label>
        <input name="image" type="text" class="form-control" id="image" placeholder="Enter URL image" value="">
    </div>

    <div class="form-group mb-3" > 
      <label for="text">Text</label>
      <textarea name="text" type="text" class="form-control" id="text" placeholder="Write your review!" rows="10"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
</section>